<div class="container scroll mt-5 pt-2">
  <div class="list-group" *ngIf="flights && !returnFlights; else both">
    <h3>{{originLocation.city}} -----> {{destinationLocation.city}}</h3>
    <div class="list-group-item bg-success" (click)="chosenGoFlight = flight" *ngFor="let flight of flights">
        {{ flight.code }}
    </div>
    <button [disabled]="!chosenGoFlight" (click)="goToReservation(chosenGoFlight, null)">BOOK!</button>
  </div>

  <ng-template #both>
    <div *ngIf="flights && returnFlights">
      <h3>{{originLocation.city}} -----> {{destinationLocation.city}}</h3>
      <div class="list-group" *ngFor="let flight of flights">
        <div class="list-group-item bg-success" (click)="chosenGoFlight = flight">
          {{ flight.code }}
        </div>
      </div>
      <h3>{{destinationLocation.city}} -----> {{originLocation.city}}</h3>
      <div class="list-group" *ngFor="let flight of returnFlights">
        <div class="list-group-item bg-success" (click)="chosenReturnFlight = flight">
          {{ flight.code }}
        </div>
      </div>
    </div>
    <button [disabled]="!(chosenGoFlight && chosenReturnFlight)"
            (click)="goToReservation(chosenGoFlight, chosenReturnFlight)">BOOK!
    </button>
  </ng-template>
</div>
