.sorsix-button {
  color: #ffffff;
  background-color: rgb(253, 22, 72);
  border-color: white;
  border-width: 1px;
  border-radius: 3px;
  font-size: 18px;
}

.sorsix-button:hover,
.sorsix-button:focus,
.sorsix-button:active,
.sorsix-button.active,
.open .dropdown-toggle.sorsix-button {
  color: #313d66;
  background-color: rgb(253, 22, 72);;
  border-color: #313d66;
  color: #feefff;
}

.sorsix-button:active,
.sorsix-button.active,
.open .dropdown-toggle.sorsix-button {
  background-image: none;
  color: #feefff;
}

.sorsix-button.disabled,
.sorsix-button[disabled],
fieldset[disabled] .sorsix-button,
.sorsix-button.disabled:hover,
.sorsix-button[disabled]:hover,
fieldset[disabled] .sorsix-button:hover,
.sorsix-button.disabled:focus,
.sorsix-button[disabled]:focus,
fieldset[disabled] .sorsix-button:focus,
.sorsix-button.disabled:active,
.sorsix-button[disabled]:active,
fieldset[disabled] .sorsix-button:active,
.sorsix-button.disabled.active,
.sorsix-button[disabled].active,
fieldset[disabled] .sorsix-button.active {
  background-color: #BABABA;
  border-color: #313d66;
  color: #feefff;
}

.sorsix-button .badge {
  color: #BABABA;
  background-color: rgb(253, 22, 72);;
}

body{
  background-image: url("src/assets/img/airSorsixBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding-bottom: 69px;
}

.bg-cornflower-dark{
  background-color: #293c46;
}


.form-plate{
  border: 4px solid #3a5383;
  border-radius: 10px;
}

.bg-cornflower{
  background-color: #293c46;
}
