<div class="mt-5 pt-2">
  <div class="d-flex">
    <div class="col-6 bg-light p-2">
      <form [formGroup]="flightSearchFormGroup" autocomplete="off" (ngSubmit)="onSubmit()">
        <fieldset class="form-group">
          <label for="origin">Origin</label>
          <input type="text" class="form-control" formControlName="origin" id="origin" placeholder="origin" #originInput
                 (input)="searchOrigin(originInput.value)" (click)="changeFlag(true, originInput.value)"
                 (ngModelChange)="onOriginChange()">
        </fieldset>
        <fieldset class="form-group">
          <label for="destination">Destination</label>
          <input type="text" class="form-control" formControlName="destination" id="destination"
                 placeholder="destination" #destinationInput (input)="searchDestination(destinationInput.value)"
                 (click)="changeFlag(false, destinationInput.value)" (ngModelChange)="onDestinationChange()">
        </fieldset>

        <input id="myCheckbox" type="checkbox" class="custom-checkbox" [checked]="checked" [disabled]="checkbox"  (click)="twoWay = !twoWay; checked = !checked">
        <label for="myCheckbox">Two-way</label>
        <span></span>


        <div class="input-group">
          <input class="form-control" type="text" ngbDatepicker #t="ngbDatepicker" formControlName="dateFrom"
                 [minDate]="{year: 2019, month: 1, day: 1}" [markDisabled]="isDisabled"
                 [maxDate]="{year: 2021, month: 12, day: 31}" (keypress)="false"/>
          <button (click)="t.toggle()" class="btn-outline-primary ml-1">Departure</button>
        </div>
        <div class="input-group mt-1">
          <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker"  formControlName="dateTo"
                 [minDate]="{year: 2019, month: 1, day: 1}" [markDisabled]="isDisabledTwoWay"
                 [maxDate]="{year: 2021, month: 12, day: 31}" [disabled]="twoWay" (keypress)="false"/>
          <button (click)="d.toggle()" class="btn-outline-primary ml-1">Return</button>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Search</button>
      </form>
    </div>

    <div class="col-6" *ngIf="resultsFlag">
      <div class="scroll list-group" *ngIf="daFlag; else arrivals">
        <h5>Departure locations</h5>
        <a class="bg-info list-group-item" *ngFor="let location of depLocations" (click)="onOriginClick(location)">
          <div class="bg-info" (click)="onOriginClick(location)">
            <p><b>{{ location.country }}</b>  {{ location.city }}</p>
          </div>
        </a>
      </div>

      <ng-template #arrivals>
        <div class="scroll">
          <h5>Destinations</h5>
          <div class="list-group-item bg-info" *ngFor="let location of arrLocations">
            <button class="bg-alert" (click)="onDestinationClick(location)">
              <p><b>{{ location.country }}</b>  {{ location.city }}</p>
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
