<div class="mt-5 pt-2">
  <div class="d-flex">
    <div class="col-6 form-plate bg-cornflower p-3">

      <form [formGroup]="flightSearchFormGroup" autocomplete="off">
        <fieldset class="form-group">
          <label for="origin"><b>Origin</b></label>
          <input type="text" class="form-control" formControlName="origin" id="origin" placeholder="origin" #originInput
                 (click)="changeFlag(true, originInput.value)" (ngModelChange)="onOriginChange(originInput.value)">

        </fieldset>
        <fieldset class="form-group">
          <label for="destination"><b>Destination</b></label>
          <input type="text" class="form-control" formControlName="destination" id="destination"

                 placeholder="destination" #destinationInput (click)="changeFlag(false, destinationInput.value)"
                 (ngModelChange)="onDestinationChange(destinationInput.value)">
        </fieldset>

        <label class="customcheck">
          <input id="myCheckbox" type="checkbox" [checked]="checked" (click)="twoWayClick()">
          <span class="checkmark"></span>
          Two-way
        </label>

        <div class="input-group">
          <input class="form-control" type="text" ngbDatepicker #t="ngbDatepicker" formControlName="dateFrom"
                 [minDate]="{year: 2019, month: 1, day: 1}" [markDisabled]="isDisabled"
                 [maxDate]="{year: 2021, month: 12, day: 31}" (keydown)="false"/>
          <button (click)="t.toggle()" class="calendar-button sorsix-button ml-1">Departure</button>
        </div>
        <div class="input-group mt-1">
          <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker" formControlName="dateTo"
                 [minDate]="{year: 2019, month: 1, day: 1}" [markDisabled]="isDisabledTwoWay"
                 [maxDate]="{year: 2021, month: 12, day: 31}" [disabled]="twoWay" (keydown)="false"/>
          <button (click)="d.toggle()" class="calendar-button sorsix-button ml-1">Return</button>
        </div>

        <div class="text-center">
          <button type="submit" class="btn-lg sorsix-button mt-3"
                  [disabled]="submitButton" (click)="onSubmit()">Search
          </button>
        </div>
      </form>
    </div>

    <div class="col-4" *ngIf="resultsFlag">
      <div class="scroll list-group form-plate bg-cornflower-dark" *ngIf="daFlag; else arrivals">
        <h4>Departure locations</h4>
        <div class="list-group-item bg-cornflower item-hover" *ngFor="let location of depLocations" (click)="onOriginClick(location)">
          <div class="container-fluid" (click)="onOriginClick(location)">
            <div class="row">
              <p class="item-text"><b>{{ location.city }}</b></p>
            </div>
            <div class="row">
              <p class="item-text">{{location.country}}</p>
            </div>
          </div>
        </div>
      </div>

      <ng-template #arrivals>
        <div class="scroll list-group form-plate bg-cornflower-dark">
          <h4>Destinations</h4>
          <div class="list-group-item bg-cornflower item-hover" *ngFor="let location of arrLocations"
               (click)="onDestinationClick(location)">
            <div class="container-fluid" (click)="onDestinationClick(location)">
              <div class="row">
                <p class="item-text"><b>{{ location.city }}</b></p>
              </div>
              <div class="row">
                <p class="item-text">{{location.country}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
