<div class="bg-cornflower form-plate p-2 inner-text" *ngIf="flight">

  <div>
    <h3><b>Economy class</b></h3>

    <p>Free Seats: {{flight.plane.economySeats - takenEconomySeats}}</p>

    <p>Price for an Economy ticket {{flight.arrivalLocation.price + flight.plane.economyPrice}}</p>

    <label class="pr-3">Number of tickets: </label>
    <button (click)="changeEconomyPlusMinusToggle(-1)">-</button>
    <input class="ticket-input-w" type="text" value="{{economyTicketsToReserve}}">
    <button (click)="changeEconomyPlusMinusToggle(1)">+</button>

  </div>

  <div *ngIf="flight.plane.businessSeats > 0">
    <h3><b>Business class</b></h3>

    <p>Free Seats: {{flight.plane.businessSeats - takenBusinessSeats}}</p>

    <p>Price for a Business ticket {{flight.arrivalLocation.price + flight.plane.businessPrice}}</p>

    <label class="pr-3">Number of tickets: </label>
    <button (click)="changeBusinessPlusMinusToggle(-1)">-</button>
    <input class="ticket-input-w" type="text" value="{{businessTicketsToReserve}}">
    <button (click)="changeBusinessPlusMinusToggle(1)">+</button>

  </div>
</div>
