footer {
  border-top: 3px solid;
  border-top-color: #313d66;
  background-color: #293c46;
  bottom: 0;
  width: 100%;
  height: 69px;
  position: fixed ;
  padding: 0;
}

img {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

.page-footer {
  width: 100%;
  height: 100%;
}
