.navbar {
  border-bottom: 3px solid;
  border-bottom-color: #313d66;
  background-color: #293c46;
}

body {
  background-color: white;
}

#logo {
  height: 50px;
}

.navbar-nav {
  margin: 0%;
  width: 30%;
}

.nav-item {
  width: 100%;
  float: right;
}

button {
  color: white;
  border-color: white;
  background-color: rgb(253, 22, 72);
  margin: 0% 1% 0 1% ;
  justify-items: center;
  align-items: center;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  border-color: white;
  background-color: rgb(226, 0, 49);
}
