<h2>Login form</h2>

<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <div class="form-group">
        <label>
          Username
        <input type="text" formControlName="user" class="form-control"/>
      </label>
    </div>
    <div class="form-group">
        <label>
          Password
        <input type="password" formControlName="password" class="form-control"/>
      </label>
    </div>
    <div class="form-group">
        <button [disabled]="!loginForm.valid">
          <a class="nav-link" href="http://localhost:8080/api/login/github">
            Login with Github
          </a>
        </button>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
    <div class="form-group">
      <button >
        <a class="nav-link" href="/register">
          Create an account
        </a>
      </button>
    </div>
  </form>
